name: Check Nix flake update

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

concurrency:
  group: check-nix-flake-update-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  check-nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@v31.8.4
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update flake.lock file(s)
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          pr-title: "Update Nix flake inputs"
